@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.rt-thead {
  position: sticky;
  top: 0;
  z-index: 2;
  color: #ffffff;
  background-color: #343434;
  font-weight: 700;
}
.rt-tfoot {
  top: 228px;
  position: sticky;
  z-index: 2;
  background: white;
}
.rt-tbody {
  overflow: visible !important;
  color: #000;
  /* height: 200px; */
}

.maxtable .rt-tbody {
  overflow: visible !important;
  height: auto !important;
}
.sticky {
  position: sticky !important;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: black;
}
.sticky-r {
  position: sticky !important;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

html::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
  width: 3px !important;
}

html::-webkit-scrollbar-track, .scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.735) !important;
}

html::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(25, 29, 253, 0.829) !important;
  outline: 1px solid slategrey !important;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.swal2-select {
  text-transform: uppercase;
}